
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-container{
  margin-top: 20px;
  text-align: center;
}

table {
  width: 100%;
}

.formmain{
  display: inline-block;
}

.iconmat{
color: red;
}

.iconmat:hover{
  cursor: pointer;
}

.signupb{
  margin-top: 20px;
}
