<div>
  <div class="form-container">
    <form class="example-form formmain" (ngSubmit)="getData(link.value,description.value)">
      <mat-form-field class="example-full-width">
        <label>
          <input #link matInput placeholder="Link to save" value="" autocomplete="off"/>
        </label>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <label>
          <textarea #description matInput placeholder="What's this for?"></textarea>
        </label>
      </mat-form-field>
      <button mat-icon-button type="submit" color="primary">
        <mat-icon aria-hidden="false" aria-label="Save Icon">save</mat-icon>
      </button>

    </form>
  </div>

  <div>
    <table mat-table [dataSource]="data.arr" class="mat-elevation-z8">


      <ng-container matColumnDef="Link">
        <th mat-header-cell *matHeaderCellDef> Link</th>

        <td mat-cell *matCellDef="let element"><a href="{{ element.link }}">Link</a></td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} <span><mat-icon class="iconmat" (click)="deleteLink(element.id)"
                                                                                        aria-hidden="false"
                                                                                        aria-label="Delete Icon">delete</mat-icon></span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

